.card-container {
  display: grid;
  /* Define 2 filas y 5 columnas, todas con el mismo tamaño flexible (1fr) */
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /* Espacio entre las tarjetas */
  gap: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 cards por fila */
  gap: 20px;
  padding: 20px;
}

.chart-card {
  width: 100%;
}