<div class="card-container">
    @for (valor of valores(); track valor.titulo) {
    <app-card-promedio [dato]="valor"></app-card-promedio>
    }
</div>
<div class="card-grid">
    <app-card-barras class="chart-card">
    </app-card-barras>
    <app-card-barras class="chart-card">
    </app-card-barras>
    <app-card-barras class="chart-card">
    </app-card-barras>
    <app-card-barras class="chart-card">
    </app-card-barras>
    <app-card-barras class="chart-card">
    </app-card-barras>
    <app-card-barras class="chart-card">
    </app-card-barras>
</div>