<mat-card>
    <div class="card-content-wrapper">
        <div class="left-content">
            <mat-card-title>
                {{ dato().titulo }}
            </mat-card-title>
            <span class="percentage">
                {{ dato().ejecutado/dato().planificado * 100 }}%
            </span>
        </div>

        <div class="right-content">
            <p class="text-right">
                <span><b>Planificados:</b> {{ dato().planificado }}</span>
                <br>
                <span><b>Ejecutados:</b> {{ dato().ejecutado }}</span>
            </p>
        </div>
    </div>
</mat-card>