<div class="h-auto max-w-full rounded-lg border border-black p-2" style="background-color: white;">
    <div class="min-h-[2rem] leading-none">
        <span class="text-xs font-bold leading-none">{{ dato().titulo }}</span>
    </div>

    <div class="flex items-center gap-4 mt-2">
        <span class="text-2xl font-extrabold">{{ dato().promedio }}</span>
        <div class="flex flex-col text-sm">
            <span><b>Minimo:</b> {{ dato().minimo }}</span>
            <span><b>Maximo:</b> {{ dato().maximo }}</span>
        </div>
    </div>
</div>