<mat-card>
    <mat-card-header>
        <mat-card-title class="fixed-title">
            {{ dato().titulo }}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="bottom-content-wrapper">
        <div class="left-section">
            <span class="percentage">
                {{ dato().promedio }}
            </span>
        </div>
        <div class="right-section">
            <p>
                <span><b>Minimo:</b> {{ dato().minimo }}</span>
                <br>
                <span><b>Maximo:</b> {{ dato().maximo }}</span>
            </p>
        </div>
    </mat-card-content>
</mat-card>