<div class="fondo-actualizar"></div>
<div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Actualizar Contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usr_usuario" required>
            <mat-error ngIf="updatePasswordForm.get('usr_usuario').hasError('required')">
              El usuario es requerido
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Contraseña Nueva</mat-label>
            <input matInput type="password" formControlName="usr_pass" required>
            <mat-error ngIf="updatePasswordForm.get('usr_pass').hasError('required')">
              La contraseña actual es requerida
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Contraseña Temporal(Correo)</mat-label>
            <input matInput type="password" formControlName="usr_pass_temp" required>
            <mat-error ngIf="updatePasswordForm.get('usr_pass_temp').hasError('required')">
              La nueva contraseña es requerida
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="updatePasswordForm.invalid">
            Actualizar Contraseña
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>