.card-container {
  display: grid;
  /* Define 2 filas y 5 columnas, todas con el mismo tamaño flexible (1fr) */
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /* Espacio entre las tarjetas */
  gap: 8px;
}